*{
    
        margin:0;
        /* padding:0;
        font-family:'poppins',sans-serif;
        box-sizing:border-box; */
        
    
}
body{
    height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color: black;
        overflow:hidden;
    
}
.container{
        font-size:10px;
        width:40em;
        height:40em;
        position:relative;
    
    }
.sun{
        position: absolute;
        top:15em ;
        left:15em;
        width:9.5em ;
        height:9.5em ;
        background-color: rgb(183, 175, 23);
        border-radius: 50%;
        box-shadow: 0 0 3em white;
    }

    .mercury{
        position:absolute;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%;
    }
    .mercury{
        top:10em ;
        left:10em ;
        width:20em ;
        height:20em;
        animation: orbit 20.5s linear infinite;
    }
    .mercury::before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .mercury::before{
        top:1.8em;
        right:1.8em;
        width:2em;
        height:2em;
        background-color: rgb(159, 134, 44);
        box-shadow: 0 0 3em rgb(246, 243, 243);
    }
    .venus{
        position:absolute;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%;
    }
    .venus{
        top:5em ;
        left:5em ;
        width:30em ;
        height:30em ;
        animation: orbit 32.5s linear infinite;
    }
    .venus::before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .venus::before{
        top:3.0em;
        right:3.0em;
        width:2.5em;
        height:2.5em;
        background-color: rgb(152, 140, 99);
        box-shadow: 0 0 3em rgb(255, 255, 255);
    }
    .earth,.moon{
        position:absolute;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%;
    }
.earth{ 
       
    top:1em ;
    left:1em ;
    width:40em;
    height:40em;
    animation: orbit 40.5s linear infinite;
 } 
 .moon{ 
          
        top: 0.5em;;
        right:0.5em;
        width:8.5em;
        height:8.5em;
        animation:orbit 2.7s linear infinite;
    }
    .earth::before,.moon::before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .earth::before{
        top:4.3em;
        right:4.3em;
        width:3em;
        height:3em;
        background-color: rgb(20, 96, 144);
        box-shadow: 0 0 3em rgb(248, 247, 247);
    }
    .moon::before{
        top:0.8em;
        right:0.2em;
        width:1.2em;
        height:1.2em;
        background-color:rgb(172, 153, 153);
    }
    .mars{
        position:absolute;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%;
    }
    .mars{
        top:-4em ;
        left:-4em ;
        width:50em;
        height:50em;
        animation: orbit 30.5s linear infinite;
    }
    .mars::before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .mars::before{
        top:6.0em;
        right:6.0em;
        width:2.3em;
        height:2.3em;
        background-color: rgb(161, 45, 50);
        box-shadow: 0 0 3em rgb(253, 251, 251);
    }
    .jupiter{
        position:absolute;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%;
    }
    .jupiter{
        top:-8em ;
        left:-8em ;
        width:59em;
        height:59em;
        animation: orbit 24.5s linear infinite;
    }
    .jupiter::before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .jupiter::before{
        top:7.0em;
        right:7.0em;
        width:3.5em;
        height:3.5em;
        background-color: rgb(171, 81, 81);
        box-shadow: 0 0 3em rgb(252, 250, 250);
    }
    .satrun{
        position:absolute;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%;
    }
    .satrun{
        top:-12em ;
        left:-12em ;
        width:69em;
        height:69em;
        animation: orbit 23.5s linear infinite;
    }
    .satrun::before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .satrun::before{
        top:8.2em;
        right:8.2em;
        width:4.0em;
        height:4.0em;
        background-color: rgb(155, 162, 72);
        box-shadow: 0 0 3em rgb(255, 255, 255);
    }
    .uranus{
        position:absolute;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%; 
    }
    .uranus{
        top:-16em ;
        left:-16em ;
        width:79em;
        height:79em;
        animation: orbit 20.5s linear infinite;
    }
    .uranus::before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .uranus::before{
        top:9.3em;
        right:9.3em;
        width:3.9em;
        height:3.9em;
        background-color: rgb(151, 198, 219);
        box-shadow: 0 0 3em rgb(255, 255, 255);
    }
    .neptune{
        position:absolute;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%;
    }
    .neptune{
        top:-20em ;
        left:-20em ;
        width:89em;
        height:89em;
        animation: orbit 25.5s linear infinite;
    }
    .neptune::before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    .neptune::before{
        top:10.5em;
        right:10.5em;
        width:3.9em;
        height:3.9em;
        background-color: rgb(24, 34, 143);
        box-shadow: 0 0 3em white;  
    }
    .mercury p{
        text-align: center;
        color: azure;
        font-size: 20px;
    }
    .venus p{
        text-align: center;
        color: azure;
        font-size: 20px;
    }
    .earth p{
        text-align: center;
        color: azure;
        font-size: 20px;
    }
    .mars p{
        text-align: center;
        color: azure;
        font-size: 20px;
    }
    .jupiter p{
        text-align: center;
        color: azure;
        font-size: 20px;
    }
    .satrun p{
        text-align: center;
        color: azure;
        font-size: 20px;
    }
    .uranus p{
        text-align: center;
        color: azure;
        font-size: 20px;
    }
    .neptune p{
        text-align: center;
        color: azure;
        font-size: 20px;
    }
    @keyframes orbit {
        to{
            transform: rotate(360deg);
        }
    }
        